<div class="modal" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= controller.action_name.capitalize %> Task</h3>
  </div>
  <div class="modal-body">

<p>
  <b>Name:</b>
  <%= @task.name %>
</p>

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>

<p>
  <b>Deadline:</b>
  <%= @task.deadline %>
</p>

<p>
  <b>Done:</b>
  <%= @task.done %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project_name %>
</p>

<p id="notice"><%= notice %></p>

  </div>
  <div class="modal-footer">
    <%= link_to "Edit", edit_project_task_path(@project, @task), class: "btn", remote: true %>
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

