<div class="modal" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3><%= @task.name %></h3>
  </div>
  <div class="modal-body">

<p>
  <b>Priority:</b>
  <%= @task.priority %>
</p>

<p>
  <b>Deadline:</b>
  <%= @task.deadline %>
</p>

<p>
  <b>Status:</b>
  <%= @task.status_name %>
</p>

<p>
  <b>Project:</b>
  <%= @task.project_name %>
</p>

<p id="notice"><%= notice %></p>

  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>

