<table class="table table-striped table-bordered table-condensed projects-list">

  <!-- Project row -->
  <tr>
    <th colspan="2" class="name"><p><%= project.name %></p></th>
    <th class="control">
      <ul class="nav nav-pills hide">
        <li>
          <%= link_to [:edit, project], class: "project-edit", remote: true do %>
            <i class="icon-pencil"></i>
          <% end %>
        </li>
        <li>
          <%= link_to project, class: "project-delete", method: :delete, data: { confirm: 'Are you sure?' }, remote: true do %>
            <i class="icon-trash"></i>
          <% end %>
        </li>
      </ul>
    </th>
  </tr>

  <!-- Add-Task row -->
  <tr class="add-new">
    <td colspan="3">
      <%= simple_form_for([project, @task], remote: true, :html => {:class => "form-vertical form-inline task-add"}) do |f| %>
        <%= f.input :name, :label => false, :input_html => {class: "task_name", id: "task_name_p#{project.id}",  size: "125" } %>
        <%= f.submit "Add Task",:class=>"btn btn-primary" %>
      <% end %>
    </td>
  </tr>

  <!-- Tasks row -->
  <%= render partial: 'task-row', collection: project.task, as: 'task' %>

</table>
